enable-magisk-update = true # set this to false if you do not want to receive updates for the module in magisk app
parallel-jobs = 1

# add 'enabled = false' for not patching a specific app or remove it from the config
# see https://github.com/j-hc/revanced-magisk-module/blob/main/CONFIG.md for more detailed explanations

# you can use rvmm-config-gen to generate a config

[duolingo]
apkmirror-dlurl = "https://www.apkmirror.com/apk/duolingo/duolingo-duolingo/duolingo-language-lessons-6-54-5-release/duolingo-language-lessons-6-54-5-android-apk-download/download/?key=b1f779a6f9c6c1bff52f576e8df20d3da2a7b21f"
build-mode = "module"
